.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.productos h2 {
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}


.card-img-top{
    height: 220px;
    width: 100%;
    object-fit: contain;
    background-color: #fff;
    padding: 10px;
} 
tr{
    background-color: greenyellow;
}

.img-listado{
    height: 100px;
    width: auto;
    object-fit: contain;
}

